<div class="user-form">
  <h2>➕ Add New User</h2>

  <label>Username</label>
  <input [(ngModel)]="username" placeholder="Enter username" />

  <label>Password</label>
  <input [(ngModel)]="password" type="password" placeholder="Enter password" />

  <label>Role</label>
  <select [(ngModel)]="selectedRole">
    <option *ngFor="let role of roles" [value]="role.name">{{ role.name }}</option>
  </select>

  <button (click)="addUser()">Add User</button>
</div>

<!-- <div class="user-form">
  <h2>➕ Add New User</h2>

  <label>Username</label>
  <input [(ngModel)]="username" placeholder="Enter username" />

  <label>Password</label>
  <input [(ngModel)]="password" type="password" placeholder="Enter password" />

  <label>Permission</label>
  <select [(ngModel)]="category">
    <option value="Staff">Staff</option>
    <option value="Accountant">Accountant</option>
  </select>

  <label>Role</label>
  <select [(ngModel)]="selectedRole">
    <option *ngFor="let role of roles" [value]="role.name">{{ role.name }}</option>
  </select>

  <button (click)="addUser()">Add User</button>
</div>















 -->
