<div class="dashboard">
  <!-- <div class="top-bar">
    <span>Welcome, {{ username }} ({{ role }})</span>
    <button (click)="logout()">🚪 Logout</button>
  </div> -->

  <h2>🧺 Laundry Dashboard</h2>

  <div class="dashboard-actions">
    <!-- Add Order -->
    <button *ngIf="canAddOrder()" (click)="toggleAddOrder()">➕ Add Order</button>

    <!-- Confirm Payment -->
    <button *ngIf="canConfirmPayment()">💳 Confirm Payment</button>

    <!-- Assign Roles -->
    <button *ngIf="role === 'SuperAdmin'" (click)="goToRoleManagement()">🛡️ Manage Users</button>

    <!-- User Management -->
    <button *ngIf="role === 'SuperAdmin'" (click)="goToUserManagement()">👤 User Management</button
      >
    <!-- Sales Report Navigation -->
    <button *ngIf="canGenerateReport()" (click)="goToSalesReport()">📊 Sales Report by Date</button>

    <!-- Audit Log -->
      <button  *ngIf="role === 'SuperAdmin'" (click)="gotoAuditLog()">View Audit-log</button>

  </div>

  <!-- Embedded Add Order Card -->
  <app-add-order
    *ngIf="showAddOrder"
    (orderCompleted)="handleOrderCompletion()"
  />

  <!-- Main Content -->
  <div class="dashboard-content" *ngIf="showDashboardContent">
    <app-view-orders *ngIf="canViewOrders()" />
  </div>
  <!-- Audit Log -->
  <!-- <div class="audit-log" *ngIf="role === 'SuperAdmin'">
    <h2>📋 Audit Logs</h2>
    <app-audit-log></app-audit-log>
</div> -->


