/* You can add global styles to this file, and also import other style files */
@media print {
  body * {
    visibility: hidden;
  }

  .receipt, .receipt * {
    visibility: visible;
  }

  .receipt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .receipt button {
    display: none;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
